.title {
    font-size: 20;
    horizontal-align: center;
    margin: 20;
}

.footer {
    background-color: #ccc;
    horizontal-align: center;
}

button {
    font-size: 22;
    horizontal-align: center;
    margin:40px 0;
}

image {
    horizontal-align: center;
}

.grey {
    background-color: #ccc;
}