.title {
    font-size: 20;
    horizontal-align: center;
    margin: 20;
}

.footer {
    background-color: #000;
    horizontal-align: center;
}

.main {
  background-color:#333;
}

button {
    font-size: 22;
    horizontal-align: center;
    margin:40px 0;
    color:#fff;
}

image {
    horizontal-align: center;
}

.black {
    background-color: #000;
}